AI-Powered Resume Screening.json
{
  "name": "AI-Powered Resume Screening",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a job requirements extraction specialist. Analyze the job description and extract structured requirements including: company name (string), job role (string), required skills (array), preferred skills (array), minimum years of experience (number), education level required (string), key responsibilities (array), and any certifications needed (array). Extract the company name from the job posting and identify the specific job role/title being advertised. Be thorough and precise."
        }
      },
      "id": "5e3496e9-bc4b-48d5-8f20-c52db93bdf03",
      "name": "Extract Job Requirements",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "b4079729-b9a3-461e-9279-0657327b99eb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "qE5ujPFJXeWNsyP5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"companyName\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"jobRole\": {\n\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t,\n\t\t\"requiredSkills\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"preferredSkills\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"minYearsExperience\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"educationLevel\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"keyResponsibilities\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"certifications\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "e5fee998-db15-4341-8c1a-df754fe4e79a",
      "name": "Job Requirements Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1InfEYNHgTTaDt9UMIskk37JdxAV_wItk",
          "mode": "list",
          "cachedResultName": "RESUME_VIVEK_KARRA.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1InfEYNHgTTaDt9UMIskk37JdxAV_wItk/view?usp=drivesdk"
        },
        "options": {}
      },
      "id": "097a20f3-97c6-41a0-9d6c-9b79f8828ba7",
      "name": "Get Resumes from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "RbDg86Gpbqk2IONs",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "cecbe51c-77bf-407a-9461-f38fd887b56e",
      "name": "Extract Resume Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "candidateName",
              "value": "={{ $json.output.candidateName }}",
              "type": "string"
            },
            {
              "id": "1f78d13b-31f7-4465-b5ff-f13a2fa5ce07",
              "name": "companyName",
              "value": "={{ $('Extract Job Requirements').item.json.output.companyName }}",
              "type": "string"
            },
            {
              "id": "dfa9340e-cbdd-42b8-b448-75b913719e5e",
              "name": "jobRole",
              "value": "={{ $('Extract Job Requirements').item.json.output.jobRole }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "overallMatchScore",
              "value": "={{ $json.output.overallMatchScore }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "skillsMatch",
              "value": "={{ $json.output.skillsMatch }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "experienceMatch",
              "value": "={{ $json.output.experienceMatch }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "educationMatch",
              "value": "={{ $json.output.educationMatch }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "resumeFileName",
              "value": "={{ $json.output.resumeFileName }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "screeningTimestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dedd8e5e-34ff-4770-a1c6-e32ac667a38b",
      "name": "Prepare Results for Logging",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        0
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "QzDYxzjd4936s6Co",
          "mode": "list",
          "cachedResultName": "screening_results",
          "cachedResultUrl": "/projects/L6kB6l5Ocr1dHJSt/datatables/QzDYxzjd4936s6Co"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidateName",
              "displayName": "candidateName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobRole",
              "displayName": "jobRole",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "overallMatchScore",
              "displayName": "overallMatchScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "skillsMatch",
              "displayName": "skillsMatch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "experienceMatch",
              "displayName": "experienceMatch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "educationMatch",
              "displayName": "educationMatch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resumeFileName",
              "displayName": "resumeFileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "screeningTimestamp",
              "displayName": "screeningTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "dfcaa6b2-a7af-44c4-ab25-ae1e2a0a2cf1",
      "name": "Log Screening Results",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1600,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C03HFT9S13N",
          "mode": "list",
          "cachedResultName": "general"
        },
        "text": "=🎯 Resume Screening Results\n\nCandidate: {{ $json.candidateName }}\nCompany Name : {{ $json.companyName }}\nJob Role : {{ $json.jobRole }}\nOverall Match: {{ $json.overallMatchScore }}%\n\n📊 Score Breakdown:\n• Skills Match: {{ $json.skillsMatch }}%\n• Experience Match: {{ $json.experienceMatch }}%\n• Education Match: {{ $json.educationMatch }}%\n\nResume: {{ $json.resumeFileName }}\nScreened: {{ $json.screeningTimestamp }}",
        "otherOptions": {}
      },
      "id": "050f3584-eb69-4478-8479-40e50ab52746",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1824,
        0
      ],
      "webhookId": "e1876793-7518-474e-86f6-3418ce8cb622",
      "credentials": {
        "slackOAuth2Api": {
          "id": "KaQZuyLdoSljzFgW",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resume Text:\n{{ $json.text }}\n\nJob Requirements:\nCompany: {{ $(\"Extract Job Requirements\").item.json.output.companyName }}\nRole: {{ $(\"Extract Job Requirements\").item.json.output.jobRole }}\nRequired Skills: {{ $(\"Extract Job Requirements\").item.json.output.requiredSkills }}\nPreferred Skills: {{ $(\"Extract Job Requirements\").item.json.output.preferredSkills }}\nMin Years Experience: {{ $(\"Extract Job Requirements\").item.json.output.minYearsExperience }}\nEducation Level: {{ $(\"Extract Job Requirements\").item.json.output.educationLevel }}\nKey Responsibilities: {{ $(\"Extract Job Requirements\").item.json.output.keyResponsibilities }}\nCertifications: {{ $(\"Extract Job Requirements\").item.json.output.certifications }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a resume screening specialist. Analyze the resume against the job requirements and calculate match scores (0-100) for:\n\n1. Skills Match: Compare candidate skills against required and preferred skills\n2. Experience Match: Evaluate years of experience and relevance to the role\n3. Education Match: Compare education level and field of study\n4. Overall Match Score: Weighted average (skills 40%, experience 35%, education 25%)\n\nExtract the candidate name from the resume. Use the resume filename from the binary data property name. Be objective and precise in your scoring."
        }
      },
      "id": "06614dbb-5662-4ac7-8359-fbade567e80c",
      "name": "Calculate Match Scores",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "519a2097-9b65-42e1-9776-3f38c7ca508c",
      "name": "OpenAI Scoring Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1040,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "qE5ujPFJXeWNsyP5",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"candidateName\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"overallMatchScore\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"skillsMatch\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"experienceMatch\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"educationMatch\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"resumeFileName\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "7a8bdc8a-7c92-4259-bb13-298354c47e35",
      "name": "Match Scores Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        224
      ]
    },
    {
      "parameters": {
        "trigger": [
          "message",
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "cb176e67-efad-4733-b397-5261900f2937",
      "name": "Slack Trigger",
      "webhookId": "84af47cb-8ad4-453b-bae9-e3461b4d9af8",
      "credentials": {
        "slackApi": {
          "id": "eFz25ZqmMRpfDAsH",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Job Requirements",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Job Requirements Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Job Requirements",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Requirements": {
      "main": [
        [
          {
            "node": "Get Resumes from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Resumes from Drive": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Calculate Match Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results for Logging": {
      "main": [
        [
          {
            "node": "Log Screening Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Screening Results": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Match Scores": {
      "main": [
        [
          {
            "node": "Prepare Results for Logging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Scoring Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calculate Match Scores",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Match Scores Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Calculate Match Scores",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Extract Job Requirements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "E8DkCziQU2TO1bc4"
  },
  "versionId": "41d10cb5-1b12-4063-bbdd-52bfc3742559",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3fc10bbcca3556541368f8d569321ae3400cc788cc146a4d6c35a7ddfbbf188"
  },
  "id": "LBIRnM4U98CP9crY",
  "tags": []
}